

  	<!-- Side Menu Start -->
            <div class="side_menu">

                <!--  MENU -->
                <ul class="left_padding_no">

                	<li id="sideMenu_title">
                		<ul class="left_padding_no">
                			<li><h3>NovataSoft</h3></li>
                			<li><h5>XIAO JIU CHEN</h5></li>
                		</ul>
                	</li>

                	<li id="sideMenu_dashboard">
                		<ul class="list-inline">
                			<li>
                				<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                			</li>

                			<li>
                				<p>Dashboard</p>
                			</li>
                		</ul>
                	</li>

                	<!-- CLient Start -->
                	<li id="sideMenu_contacts"><a type="button" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="false" aria-controls="collapseExample">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                		</li>

                		<li><p>Contacts</p></li>

                		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></li>

						</ul>
						</a>

						<div class="collapse" id="contactCollapse">
						  <div class="card card-block">

						    <ul>
						    	<li><p>Clients</p></li>
						    	<li><p>Lastest Client Visits</p></li>
						    	<li><p>New Clients</p></li>
						    	<li><p>Up Coming Clients</p></li>
						    </ul>

						  </div>
						</div>

                	</li>
                	<!-- Client Ends -->

                	<!-- Report Start -->

                	<li id="sideMenu_report"><a  type="button" data-toggle="collapse" data-target="#reportCollapse" aria-expanded="false" aria-controls="reportCollapse">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                		</li>

                		<li><p>Reports</p></li>

                		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></li>

						</ul>
						</a>

						<div class="collapse" id="reportCollapse">
						  <div class="card card-block">

						    <ul>
						    	<li><p>Billing</p></li>
						    </ul>

						  </div>
						</div>

                	</li>
                	<!-- Report End -->

                	<li id="sideMenu_agenda">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                		</li>

                		<li><p>Agenda</p></li>
						</ul>
					</li>


					<!-- Template Start -->

                	<li id="sideMenu_template"><a  type="button" data-toggle="collapse" data-target="#templateCollapse" aria-expanded="false" aria-controls="reportCollapse">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                		</li>

                		<li><p>Template</p></li>

                		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></li>

						</ul>
						</a>

						<div class="collapse" id="templateCollapse">
						  <div class="card card-block">

						    <ul>
						    	<li><p>Doctor Note</p></li>
						    </ul>

						  </div>
						</div>

                	</li>
                	<!-- Template End -->


                	<!--  Setting Start -->

                	<li id="sideMenu_setting"><a  type="button" data-toggle="collapse" data-target="#settingCollapse" aria-expanded="false" aria-controls="reportCollapse">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                		</li>

                		<li><p>Setting</p></li>

                		<li><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></li>

						</ul>
						</a>

						<div class="collapse" id="settingCollapse">
						  <div class="card card-block">

						    <ul>
						    	<li><p>setting list</p></li>
						    </ul>

						  </div>
						</div>

                	</li>
                	<!-- Setting End -->


                	<!--  Setting Start -->

                	<li id="sideMenu_logout">
                		<ul class="list-inline">

                		<li>
                		 	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                		</li>
                		<li><p>Log Out</p></li>

						</ul>

                	</li>
                	<!-- Setting End -->


                </ul>
                <!-- END MENU -->

            </div>



    <!-- Side Menu End-->

	<nav class="navbar">

	  	<div class="row">

	  		<div class="col-xs-2 col-sm-2">
	  			<button type="button" class="burger">
		              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		        </button>
	  		</div>

	  		<div class="col-xs-10 col-sm-10" >

	  			<ul class="list-inline navbar_mobileul" >

		  			<li>
		  				<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="search" class="col-xs-2 col-sm-2 control-label"><span class="glyphicon glyphicon-search"></span></label>
						    <div class=" col-xs-10 col-sm-10 mobileSize_search">
						    	<input type="search" class="form-control visible-xl visible-lg visible-md" id="search" placeholder="Search your client or the person your looking for here
	">
								<input type="search" class="form-control  visible-sm visible-xs" id="search" placeholder="Search Client Here">
						    </div>
						  </div>
						</form>
					</li>

					<li>
					<div class="right_nav">
						<ul class="list-inline">
						<li><h4>XIAO JIU CHEN </h4></li>
						<li class="cog_icon">
							<button type="button">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
						</li>

						<li class="off_icon">
							<button type="button">
			              		<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			          		</button>
						</li>
						</ul>
					</div>
					</li>

				</ul>

	  		</div>

	  	</div>

	</nav>





	<div id="client_info_section">
		<div class="container">

		<!-- Client Information Section 1 Start -->
			<div id="client_info_section1">

				<div class="row">
					<div class="col-sm-4 col-xs-12 cis_mobilegap">
						<div id="client_info_left">
							<img src="../img/client_profile.jpg" class="img-responsive"/>

							<ul id="cil_list">
								<li class="hidden cis_label"><h3>Apple {{name}}</h3></li>
								<li class="cis_form"><input ng-model="name" type="text" class="form-control" id="name" placeholder="Name"></li>
								<li class="hidden cis_label"><h4>Dentist {{occupation}} </h4></li>
								<li class="cis_form"><input ng-model="occupation" type="text" class="form-control" id="occupation" placeholder="Occupation"></li>
								<li class="hidden cis_label">
									<ul class="left_padding_no">
										<li><p id="cil_cell">Cell</p></li>
										<li><p>(999) 999 9999 {{cell_phone}}</p></li>
									</ul>
								</li>

								<li>
									<ul class="left_padding_no">
										<li class="hidden cis_label"><p id="cil_email">E-mail</p></li>
										<li class="cis_form"><input ng-model="email" type="text" class="form-control" id="email" placeholder="Enter Your Email Here"></li>
										<li class="hidden"><p>info@novatasoft.com</p></li>
									</ul>
								</li>

							</ul>

						</div>
					</div>

					<div class="col-sm-8 col-xs-12 visible-xl visible-lg visible-md visible-sm" id="client_info_right">

					<ul class="list-inline" id="cis_edit_btn">
						<li><button><p>Edit</p></button></li>
						<li><button><p>Save</p></button></li>
					</ul>
						<!-- First Part Start -->
							<div class="col-sm-5 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Date of Birth</p></li>
									<li class="hidden cis_label"><p>March 25 1980 {{birth_date}}</p></li>
									<li class="cis_form"><input ng-model="birth_date" type="date" class="form-control" id="birth_date" placeholder="YYYY/MM/DD"></li>

								</ul>
							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Height</p></li>
									<li class="hidden cis_label"><p>150cm {{height}}</p></li>
									<li class="cis_form"><input ng-model="height" type="text" class="form-control form_with" id="height" placeholder="cm/ft"></li>

								</ul>

							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Weight</p></li>
									<li class="hidden cis_label"><p>130lb {{weight}}</p></li>
									<li class="cis_form"><input ng-mode="weight" type="text" class="form-control form_with" id="weight" placeholder="lb/kg"></li>
								</ul>
							</div>
						<!-- First Part End -->

						<!-- Second Part Start -->
							<div class="col-sm-5 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Address</p></li>
									<li class="hidden cis_label"><p>30 Bayview Road {{address}}</p></li>
									<li class="cis_form"><input ng-model="address" type="text" class="form-control form_with" id="address" placeholder="House/apt # and street"></li>
								</ul>
							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Postal Code</p></li>
									<li class="hidden cis_label"><p>M3H M9H {{postal_code}}</p></li>
									<li class="cis_form"><input ng-model="postal_code" type="text" class="form-control form_with" id="postal_code" placeholder="Enter Postal Code Here"></li>
								</ul>

							</div>
						<!-- Second Part End -->

						<!-- Third Part Start -->
							<div class="col-sm-5 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">City</p></li>
									<li class="hidden cis_label"><p>Toronto {{city}}</p></li>
									<li class="cis_form"><input ng-model="city" type="text" class="form-control form_with" id="city" placeholder="Enter Your City Here"></li>
								</ul>
							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Province</p></li>
									<li class="hidden cis_label"><p>Ontario {{provnice}}</p></li>
									<li class="cis_form"><input ng-model="province" type="text" class="form-control form_with" id="province" placeholder="Enter Your Province Here"></li>
								</ul>

							</div>
						<!-- Third Part End -->

						<!-- Fourth Part Start -->
							<div class="col-sm-5 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Telephone ( Home )</p></li>
									<li class="hidden cis_label"><p>( 999 ) 999 9999 {{home_phone}}</p></li>
									<li class="cis_form"><input ng-model="home_phone" type="text" class="form-control form_with" id="home_phone" placeholder="Enter Home Number Here"></li>
								</ul>
							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Cell</p></li>
									<li class="hidden cis_label"><p id="cir_cell">( 999 ) 999 9999 {{cell_phone}}</p></li>
									<li class="cis_form"><input ng-model="cell_phone" type="text" class="form-control form_with" id="cell" placeholder="Enter Cell Number Here"></li>
								</ul>

							</div>

							<div class="col-sm-3 cir_paddingbottom">
								<ul class="left_padding_no">
									<li><p class="cir_title">Work</p></li>
									<li class="hidden cis_label"><p id="cir_work">( 999 ) 999 9999 {{work_phone}}</p></li>
									<li class="cis_form"><input ng-model="work_phone" type="text" class="form-control form_with" id="work" placeholder="Enter Work Number Here"></li>
								</ul>
							</div>
						<!-- Fourth Part End -->

						<!-- Five Part Start -->

							<div class="col-sm-9">

								<ul class="left_padding_no">
									<li><p class="cir_title" style="padding-bottom:10px;">To contact you, which way do you prefer:</p></li>
									<li class="hidden cis_label"><p>Cell Home</p></li>
									<li>
						              	<select ng-model="preferred_contact"class=" form-control">
										  <option>Home Phone</option>
										  <option>Cell Phone</option>
										  <option>Work Phone</option>
										  <option>Text Massage</option>
										  <option>Email</option>
										</select>
						            </li>
								</ul>

							</div>
						<!-- Five Part End -->

					</div>

				</div>

			</div>
			<!-- Client Information Section 1 End -->

			<!-- Client Information Section 2 Start -->

			<div id="client_info_section2" class="visible-xl visible-lg visible-md visible-sm">
				<div class="container">
					 <div id="cis2_condition">

					 	<div class="row">

					 		<div class="col-sm-8">
					 			<ul class="list-inline">
					 				<li><h4>TCM Health Centre - Health History Condition</h4></li>
					 				<li><span class="glyphicon glyphicon-search"></span></li>
					 			</ul>
					 		</div>

					 		<div class="col-sm-4">
					 			<p id="cis2_date">Last updated: March 23 2016</p>
					 		</div>

					 	</div>

					 </div>

					  <div id="cis2_otherinfo">

					 	<div class="row">

					 		<div class="col-sm-8">
					 			<ul class="list-inline">
					 				<li><h4>TCM Health Centre - Health History Other Info</h4></li>
					 				<li><span class="glyphicon glyphicon-search"></span></li>
					 			</ul>
					 		</div>

					 		<div class="col-sm-4">
					 			<p id="cis2_date">Last updated: March 23 2016</p>
					 		</div>

					 	</div>

					 </div>

				</div>

			</div>
			<!-- Client Information Section 2 End -->

			<!-- Client Information Section 3 Start -->
			<div id="client_info_section3">
				<div class="container">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Latest Visits</a></li>
				    <li role="presentation" id="navTabs_upc"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Up Coming Visits</a></li>
				    <li role="presentation" id="navTabs_bs"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Booked Session</a></li>
				    <li role="presentation" id="navTabs_ar"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Archieve</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane fade in active" id="home">
					    <div id="cis2_hometab">

					 		<div class="row">

						 		<div class="col-sm-4 col-xs-5">
						 			<ul class="list-inline">
						 				<li class="visible-xl visible-lg visible-md"><p>Last Visited</p></li>
						 				<li id="hometab_date"><p>Feb | 03 | 2016</p></li>
						 			</ul>
						 		</div>

						 		<div class="col-sm-8 col-xs-7">
						 			<ul class="list-inline " id="home_tabr">
						 				<li id="hometab_session"><p>Session 10/10</p></li>
						 				<li id="hometab_duration"><p>Duration : 1hr </p></li>
						 				<li>
						 					<ul class="list-inline">
						 						<li><p><span class="glyphicon glyphicon-search"></span></p></li>
						 						<li id="hometab_p"><p>View Detail</p></li>
						 					</ul>
						 				</li>
						 			</ul>
						 		</div>

					 		</div>

					 	</div>
					 	<div id="cis2_hometab">

					 		<div class="row">

						 		<div class="col-sm-4 col-xs-5">
						 			<ul class="list-inline">
						 				<li class="visible-xl visible-lg visible-md"><p>Last Visited</p></li>
						 				<li id="hometab_date"><p>Feb | 03 | 2016</p></li>
						 			</ul>
						 		</div>

						 		<div class="col-sm-8 col-xs-7">
						 			<ul class="list-inline " id="home_tabr">
						 				<li id="hometab_session"><p>Session 10/10</p></li>
						 				<li id="hometab_duration"><p>Duration : 1hr </p></li>
						 				<li>
						 					<ul class="list-inline">
						 						<li><p><span class="glyphicon glyphicon-search"></span></p></li>
						 						<li id="hometab_p"><p>View Detail</p></li>
						 					</ul>
						 				</li>
						 			</ul>
						 		</div>

					 		</div>

					 	</div>
					 	<div id="cis2_hometab">

					 		<div class="row">

						 		<div class="col-sm-4 col-xs-5">
						 			<ul class="list-inline">
						 				<li class="visible-xl visible-lg visible-md"><p>Last Visited</p></li>
						 				<li id="hometab_date"><p>Feb | 03 | 2016</p></li>
						 			</ul>
						 		</div>

						 		<div class="col-sm-8 col-xs-7">
						 			<ul class="list-inline " id="home_tabr">
						 				<li id="hometab_session"><p>Session 10/10</p></li>
						 				<li id="hometab_duration"><p>Duration : 1hr </p></li>
						 				<li>
						 					<ul class="list-inline">
						 						<li><p><span class="glyphicon glyphicon-search"></span></p></li>
						 						<li id="hometab_p"><p>View Detail</p></li>
						 					</ul>
						 				</li>
						 			</ul>
						 		</div>

					 		</div>

					 	</div>


				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="profile"></div>
				    <div role="tabpanel" class="tab-pane fade" id="messages"></div>
				    <div role="tabpanel" class="tab-pane fade" id="settings"></div>
				  </div>
				</div>
			</div>
			<!-- Client Information Section 3 End -->

		</div>
	</div>
